body {
  background: white;
  color: red;
  text-align: center;
  cursor: pointer;
}

.grid-1 {
  background: red;
  margin: 0px auto;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.grid-2 {
  background: black;
  margin: 0px auto;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.beginFight {
  color: black;
  text-align: center;
}

#searchBar {
  text-align: center;
  align-items: center;
}

#search-btn {
  background: red;
  color: white;
  border-radius: 3px;
  margin-right: 20px;
  border: 5px solid black;
  padding: 10px;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

#add-button {
  background: red;
  color: white;
  border-radius: 3px;
  margin-right: 20px;
  border: 5px solid black;
  padding: 15px;
}

#cancel-button {
  background: red;
  color: white;
  border-radius: 3px;
  margin-right: 20px;
  border: 5px solid black;
  padding: 15px;
}

.hide {
  display: none;
}

.pure-button {
  margin: 5px;
}

#progress {
  background: black;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

#progress:after {
  content: "";
  display: block;
  background: red;
  width: 50%;
  height: 100%;
  border-radius: 9px;
}

.progressBar {
  margin-bottom: 40px;
}
