body {
    background: white;
    color: red;
    text-align: center;
}

.grid-1 {
    background: red;
    margin: 0px auto;            
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

.grid-2 {
     background: black;
     margin: 0px auto;            
     text-align: center;
     color: white;
     font-size: 25px;
     font-weight: bolder;
}

.beginFight {
    color: black;
    text-align: center;
}

.searchBar {
    text-align: center;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

#add-button {
    justify-content: center;
    background: blue;
    color: white;
    padding: 15px;
}